GCP_PROJECT_ID=seu-projeto-gcp
SKYSCANNER_API_KEY=sua_chave_skyscanner
SKYSCANNER_BASE_URL=https://partners.api.skyscanner.net/apiservices/v3
SENDGRID_API_KEY=sua_chave_sendgrid
FCM_CREDENTIALS=/app/creds/fcm.json
VITE_FIREBASE_API_KEY=sua_firebase_api_key
VITE_FIREBASE_AUTH_DOMAIN=seu-projeto.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=seu-projeto
